.header{
	// background-color: #595fbf;
	background-color:  #5E919E;
	box-shadow: 0 0 7px rgba(0,0,0,.1);
}

.darkBg{
	// background-color: #595fbf;
	background-color:  #5E919E;
	padding: 10px;
	.menuWrapper{
		.menulist{
			.menu{
				color: #fff;
			}
		}
	}
}
// #FBB933

// #E6ECF8